@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');

//Palette
$black-color: #353535;
$white-color: #FFFFFF;

$primary-color: #5AD5F4;
$secondary-color: #EC407D;

$green-color: #6DEB86;
$sky-blue-color: #5AD5F4;
$pink-color: #EC407D;
$yellow-color: #FACD48;
$king-blue-color: #313ACF;
$background-color: #FBFBD9;

//Typography
$font-family: 'Urbanist', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-size-h1: 50px;
$font-size: 14px;
$font-weight-bold: 700;