@mixin flex-total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-aic-jcse {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-aic-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}